<div class="lsjq">
        <div class="history-jq">
                <form [formGroup]="profileForm">
                        <div class="col-xs-12 col-sm-12 example-col">
                            <div class="col-md-3 example-col">
                                <label [for]="datepicker">报警时间 </label>
                                <kendo-datepicker #datepicker [format]="'yyyy-MM-dd'" [(value)]="bjsj" placeholder="请选择" (valueChange)="dateChange($event)"></kendo-datepicker>
                            </div>
                            <div class="col-md-3 example-col">
                                <label [for]="'input'">状态 </label>
                                <kendo-dropdownlist
                                        [data]="ztType"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [value]="ztValue"
                                        (valueChange)="onChangeZt($event)"
                                        required
                                    >
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        <span style="font-size: 20px;">{{ dataItem.text }}</span>
                                    </ng-template>
                                </kendo-dropdownlist>
                            </div>
                            <div class="col-md-3 example-col">
                                <label [for]="'input'">案由 </label>
                                <!-- <kendo-dropdownlist
                                        [data]="ayType"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [value]="ayValue"
                                        (valueChange)="onChangeAy($event)"
                                        required
                                    >
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        <span style="font-size: 20px;">{{ dataItem.text }}</span>
                                    </ng-template>
                                </kendo-dropdownlist> -->
                                <div class="drod">
                                    <input type="text" class="form-control" [(ngModel)]="info.policeOfficeId" [ngModelOptions]="{standalone: true}">
                                    <ds-dropdown [childData]='testData2' [inputData]='info.policeOfficeId' (parentData)='getDominionUnit($event)'></ds-dropdown>
                                </div>
                            </div>
                            <div class="col-md-3 example-col"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 example-col">
                            <div class="col-md-3 example-col">
                                <label [for]="'input'">所辖单位 </label>
                                <kendo-dropdownlist
                                        [data]="ssdwType"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [value]="ssdwValue"
                                        (valueChange)="onChangeSsdw($event)"
                                        required
                                    >
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        <span style="font-size: 20px;">{{ dataItem.text }}</span>
                                    </ng-template>
                                </kendo-dropdownlist>
                            </div>
                            <div class="col-md-3 example-col">
                                <label [for]="'input'">处置结果 </label>
                                <kendo-dropdownlist
                                        [data]="czjgType"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [value]="czjgValue"
                                        (valueChange)="onChangeCzjg($event)"
                                        required
                                    >
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        <span style="font-size: 20px;">{{ dataItem.text }}</span>
                                    </ng-template>
                                </kendo-dropdownlist>
                            </div>
                            <div class="col-md-3 example-col jb">
                                <label [for]="'input'">级别 </label>
                                <div class="{{'police-level active-'+policeLevel}}">
                                    <span></span>
                                    <ul>
                                        <li [ngClass]="{ 'active': policeLevel === 1 }" (click)="switchPoliceLevel(1)">1级</li>
                                        <li [ngClass]="{ 'active': policeLevel === 2 }" (click)="switchPoliceLevel(2)">2级</li>
                                        <li [ngClass]="{ 'active': policeLevel === 3 }" (click)="switchPoliceLevel(3)">3级</li>
                                        <li [ngClass]="{ 'active': policeLevel === 4 }" (click)="switchPoliceLevel(4)">4级</li>
                                    </ul>
                                </div>
                            </div>
                        <div class="col-md-3 example-col">
                            <div class="btn-query">
                                <button class="query" (click)="queryData()">查询</button>
                                <a class="reset" href="javascript:;" (click)="reset()">重置</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <kendo-grid
            [kendoGridBinding]="dataSource" 
            [pageSize]="pageSize"
            [pageable]="true"
            [skip]="skip"
            (pageChange)="pageChange($event)"
            (dblclick)="dblClickEvent($event)"
            filterable="menu" 
            [sortable]="{
                    allowUnsort: true,
                    mode: 'multiple'
                }" 
            [sort]="sort" 
            (cellClick)="onCellClick($event)"
            (sortChange)="sortChange($event)" 
            [scrollable]="scrollable"
            (scrollBottom)="loadMore()"
            selectable="true"
            [filter]="filter" 
            [rowClass]="rowCallback">
            
            <kendo-grid-column field="zt" title="状态" width="150" [filterable]="false" [sortable]="true">

                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <ng-container *ngIf="dataItem.zt === '已反馈'">
                        <div class="jqzt grey">
                            {{dataItem.zt}}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="dataItem.zt === '已到达'">
                        <div class="jqzt blue">
                            {{dataItem.zt}}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="dataItem.zt === '已接收'">
                        <div class="jqzt green">
                            {{dataItem.zt}}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="dataItem.zt === '已处警'">
                        <div class="jqzt red">
                            {{dataItem.zt}}
                        </div>
                    </ng-container>
                </ng-template>
                <!-- <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                    let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService"
                        [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template> -->
            </kendo-grid-column>
            <kendo-grid-column field="hrsj" format="{0:d}" title="呼入时间" width="170" [filterable]="false">

                <!-- <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <kendo-grid-date-filter-cell
                        [showOperators]="false"
                        [column]="column"
                        [filter]="filter">
                    </kendo-grid-date-filter-cell>
                </ng-template> -->
            </kendo-grid-column>
            <kendo-grid-column field="dz" title="地址" width="460" [filterable]="false" [sortable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="ajlx" title="案件类型" width="140" [sortable]="false" [filterable]="false">
                <!-- <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                    let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService"
                        [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template> -->
            </kendo-grid-column>
            <kendo-grid-column field="jjybh" title="接警员" [filterable]="false" [sortable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="dj" title="等级" width="130" [filterable]="false" [sortable]="true">
                <!-- <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                    let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService"
                        [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template> -->
            </kendo-grid-column>
            <kendo-grid-column field="jz" title="警种" width="100" [sortable]="false" [filterable]="false">
                <!-- <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                    let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService"
                        [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template> -->
            </kendo-grid-column>
            <kendo-grid-column field="bjfs" title="报警方式" width="140" [sortable]="false" [filterable]="false">
                <!-- <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                    let-filterService="filterService">
                    <multicheck-filter [isPrimitive]="true" [field]="column.field" [filterService]="filterService"
                        [currentFilter]="filter" [data]="distinctPrimitive(column.field)"></multicheck-filter>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div class="last-cell-box">
                        <span>{{dataItem.bjfs}}</span>
                        <span class="{{'love-level love-level-' + dataItem.ReorderLevel}}"></span>
                    </div>
                </ng-template> -->
            </kendo-grid-column>
            <ng-template kendoGridDetailTemplate let-dataItem>
                <div *ngIf="dataItem.Category" class="wrap">
                    <div class="left">
                        <span><label>报警电话:</label>{{dataItem.Category?.bjdh}}<a href="javascript:;"
                                class="btn-call icon-call"></a></span>
                        <span><label>管辖单位:</label>{{dataItem.Category?.gxdw}}</span>
                        <span><label>处理结果:</label>{{dataItem.Category?.cjjg}}</span>
                    </div>
                    <div class="right">
                        <span class="icon icon-visible"[routerLink]="['/policeDetail', dataItem.Category?.bjdh]" title="详情"></span>
                        <span class="icon icon-file-copy" title="再处警"></span>
                        <span class="icon icon-tape-1" title="录音"></span>
                        <span class="icon icon-phone-4" title="打印"></span>
                    </div>
                </div>
            </ng-template>
        </kendo-grid>
</div>