.cad-main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(-161deg, rgba(94,131,172,0.50) 9%, rgba(57,101,149,0.50) 100%);
    .cad-left{
        width: 400px;
        height: 100%;
        position: relative;
        background-image: linear-gradient(-165deg, rgba(26,63,109,0.60) 5%, rgba(17,35,60,0.60) 100%);
        z-index: 2;
        // .traffic-left{
        //     width: 100%;
        //     height: 100%;
        //     position: relative;
            // background-image: linear-gradient(-165deg, rgba(26,63,109,0.60) 5%, rgba(17,35,60,0.60) 100%);
            // .left-phone-top{
            //     height: 66px;
            //     line-height: 66px;
            //     // opacity: 0.3;
            //     background: rgba(255,255,255,0.20);
            //     padding-left: 31px;
            //     font-size: 20px;
            //     color: #FFFFFF;
            //     letter-spacing: 0;
            //     overflow: hidden;
            //     img{
            //         width: 34px;
            //         height: 39.2px;
            //         margin: 16px 22px 0 0;
            //         float: left;
            //     }
            // }
        // }
    }
    .cad-right{
        width: 100%;
        height: 100%;
        padding-left: 400px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        .cad-right-bg{
            width: 100%;
            height: 100%;
            position: relative;
            background: url(../../../resources/images/bg-2.png) no-repeat;
            background-size: 100% 100%;
        }
        .main{
            width: 100%;
            height: calc(100% - 66px);
        }
    }
    .bottom-buttons{
        width: 400px;
        height: 111px;
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 3;
        display: flex;
        justify-content: center;
        background: url(../../../resources/images/foot.svg) no-repeat;
        background-size: 100% 97px;
        background-position-y: 34px;
        >div{
            width: 74px;
            height: 79px;
            position: relative;
            z-index: 2;
            padding-top: 53px;
            cursor: pointer;
            transition: all 0.2s;
            &.active{
                bottom: 10px;
                // &:after{
                //     content: '';
                //     width: 53px;
                //     height: 3px;
                //     background-color: #41E4FF;
                //     position: absolute;
                //     left: 10.5px;
                //     bottom: -8px;
                // }
            }
            &.fei-btn{
                background: url(../../../resources/images/left-foot-1.png) no-repeat left top;
                background-size: 74px 79px;
                margin-right: 60px;
            }
            &.huawu-btn{
                background: url(../../../resources/images/left-foot-2.png) no-repeat left top;
                background-size: 74px 79px;
            }
            p{
                font-size: 16px;
                color: #FFFFFF;
                text-align: center;
                user-select: none;
            }
            span{
                display: inline-block;
                background-image: linear-gradient(-179deg, #FF859A 1%, #F84F61 99%);
                padding: 0 7px;
                border-radius: 50%;
                font-size: 16px;
                color: #FFFFFF;
                position: absolute;
                top: -6px;
                right: -7px;
            }
        }
        .active-line{
            width: 53px;
            height: 3px;
            background-color: #41E4FF;
            position: absolute;
            bottom: 26px;
            z-index: 2;
            transition: all 0.2s;
            &.active-1{
                left: 106.5px;
            }
            &.active-2{
                left: 241.5px;
            }
        }
    }
}