.police-dispose-right-top{
    overflow: hidden;
    margin-bottom: 17px;
    div{
        float: left;
        font-size: 20px;
        color: #0A2A5E;
    }
    p{
        margin-bottom: 0;
        font-size: 16px;
        color: #0A2A5E;
        float: right;
        line-height: 23px;
    }
}
.police-dispose-right-content{
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    // padding-left: 3px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >div{
        position: relative;
        &:hover .shade-box{
            display: flex;
        }
    }
    .shade-box{
        width: 100%;
        height: 100%;
        // opacity: 0.7;
        background-color: rgba(52,73,111, 0.8);
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: none;
        justify-content: center;
        align-items: center;
        span{
            width: 22px;
            height: 22px;
            display: inline-block;
            border-radius: 50%;
            background-color: #96a7c4;
            color: #fff;
        }
        .icon-call-img{
            background: url(../../../../../resources/images/card-hover-icon-2.svg) no-repeat;
            background-size: 100% 100%;
            margin-right: 29px;
        }
        // .icon-infor-img{
        // }
        .icon-calender-img{
            background: url(../../../../../resources/images/card-hover-icon-1.svg) no-repeat;
            background-size: 100% 100%;
            margin-right: 29px;
        }
        .icon-close-img{
            background: url(../../../../../resources/images/card-hover-icon-3.svg) no-repeat;
            background-size: 100% 100%;
        }
    }
    .item1{

    }
    .item2{

    }
    .item3{
        width: 48%;
        height: 36px;
        background: #F6FAFF;
        border-radius: 2px;
        margin: 0 0 13px 0;
        position: relative;
        padding: 4px 13px 0;
        cursor: pointer;
    }
    .item4{
        width: 48%;
        height: 48px;
        background: #F6FAFF;
        border-radius: 2px;
        margin: 0 0 13px 0;
        position: relative;
        padding: 4px 13px 0;
        cursor: pointer;
        &:nth-child(3n){
            margin-right: 0;
        }
        // &:nth-last-child(1),&:nth-last-child(2),&:nth-last-child(3){
        //     margin-bottom: 0;
        // }
        &:after{
            content: '';
            width: 3px;
            height: 48px;
            border-radius: 4px 0 0 4px;
            position: absolute;
            left: 0;
            top: 0;
        }
        &.red:after{
            background-color: #FA5C6E;
        }
        &.green:after{
            background-color: #4ECC73;
        }
        &.active{
            border: 1px solid #347BFE;
        }
        &:hover h5{
            color: #0560DC;
        }
        h5{
            width: 200px;
            font-size: 18px;
            color: #0A2A5E;
            margin: 0 0 2px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            width: 200px;
            margin-bottom: 0;
            font-size: 14px;
            color: #7A8BA8;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .item-edit{
        width: 48%;
        height: 36px;
        background: #fff;
        margin: 0 0 13px 0;
        display: inline-block;
        font-size: 18px;
        color: #0A2A5E;
        border: 1px dotted #7A8BA8;
        border-radius: 2px;
        position: relative;
        .k-widget{
            width: 100%!important;
            height: 100%!important;
            color: #0A2A5E!important;
            font-size: 18px!important;
        }
        input{
            width: 98%;
            height: 98%;
            border: none;
            outline: none;
            border-radius: 4px;
            &::-webkit-input-placeholder{
                color: #76849D;
            }
        }
        .item-edit-ul{
            width: 100%;
            max-height: 130px;
            position: absolute;
            top: 36px;
            left: 0;
            z-index: 9999;
            background: #FDFEFF;
            box-shadow: 0 4px 10px 0 rgba(118,132,157,0.20);
            li{
                width: 100%;
                height: 32px;
                line-height: 32px;
                font-size: 18px;
                color: #0A2A5E;
                padding: 0 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &.active,&:hover{
                    background: #E0EBFC;
                }
            }
        }
    }
}
.item-edit-popup-class{
    background: #FDFEFF!important;
    box-shadow: 0 4px 10px 0 rgba(118,132,157,0.20)!important;
    span{
        display: block!important;
        &:hover{
            background: #E0EBFC!important;
        }
    }
}